<a href="https://colab.research.google.com/github/ashishpatil2017/Udemy-Python-Course/blob/main/Week_02_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Comparison Operators in Python :

In [ ]:
#different comparison operator :
# == , != , > , < , >= , <= 

#Logical comparison operator : 
# and , or , in

False

### Python Statments :

In [ ]:
#learn systex of if , elif and else 
#Example :
name = "Ashish"
if(name == "Ashish"):
  print("Hi Ashish ")
elif(name == "Tushar"):
  print("Hi Tushar")
else:
  print("What is your Name?")

Hi Ashish

In [ ]:
#For loops in Python : 
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
  print(num)

list_sum = 0
for num in my_list:
  list_sum = list_sum + num
print("Sum of the list is {}".format(list_sum))

1
2
3
4
5
6
7
8
9
10
Sum of the list is 55

In [ ]:
#Working with string :
mystring = "ABCDEFGH"
for letter in mystring :
  print("Character : {} with its ASCII Value : {}".format(letter,ord(letter)))

Character : A with its ASCII Value : 65
Character : B with its ASCII Value : 66
Character : C with its ASCII Value : 67
Character : D with its ASCII Value : 68
Character : E with its ASCII Value : 69
Character : F with its ASCII Value : 70
Character : G with its ASCII Value : 71
Character : H with its ASCII Value : 72

In [ ]:
#Iterate through dictionaries :
d = {'k1':1,'k2':2}
for item in d:
  print(item)

print("\n")

for key,val in d.items():
  print(key)
  print(val)

print("\n")


for item in d.values():
  print(item)

k1
k2


k1
1
k2
2


1
2

In [ ]:
#While loops in python : 
n = 0
while (n<5):
  print(n)
  n = n+1

0
1
2
3
4
True

In [ ]:
#break : breaks the loop
#continue : continues the loop 
#pass : it will do nothing

In [ ]:
#Useful operators in python : 
#range function in python 
for i in range(0,10):
  print(i)

#Enumerate function in python 
word = "god"
for index,letter in enumerate(word):
  print(index)
  print(letter)

#Zip function in python 
list1 = [1,2,3]
list2 = ['a','b','c']
for i in zip(list1,list2):
  print(i)

#min and max in python 
l = [20,10,30,40]
print(min(l))
print(max(l))

0
1
2
3
4
5
6
7
8
9
0
g
1
o
2
d
(1, 'a')
(2, 'b')
(3, 'c')
10
40

In [ ]:
#randint function in python : 
from random import randint
print(randint(0,1000))

134

In [ ]:
int(input("Enter a number :"))

Enter a number :50

50

In [ ]:
#List Comprehensions in python : 
word = "Ashish"
mylist = [i for i in word]
print(mylist)

['A', 's', 'h', 'i', 's', 'h']

In [ ]:
#we can add if statment in list comprehensions
mylist = [x for x in range(0,11) if x%2==0]
print(mylist)

[0, 2, 4, 6, 8, 10]

In [ ]:
#Convert temperation in celsius to fehreniet : 
celsius = [0, 10, 20, 34.5]

f = [((9/5)*temp + 32) for temp in celsius]
print(f)

[32.0, 50.0, 68.0, 94.1]

In [ ]:
mylist = [x if x%2==0 else "ODD" for x in range(0,11)]
print(mylist)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]